<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Engagement</title>
	<meta name="author" content="Chris Wood">
</head>
<body>
<table align="center">
    <tr>
        <td><img src='/site_media/rings.png' alt='rings' /></td>
    </tr>
    <tr><td>{{ debug }}</td></tr>
    <tr>
        <td><img src="{{ chart_url }}" width="800" height="360" alt="I'm in ur response, analysing your d00ds"/>
        </td>
    </tr>
    <tr>
        <td>Current Event options: opens, clicks, forwards, shares</td>
    </tr>
    <tr>
        <td>
            <form action="{{ post_url }}" method="post" id='weights'>
                {{ form.as_p }}
                <input type="submit" value="Update" />
            </form>
        </td>
    </tr>
</table>
</body>
</html>
<!-- http://chart.apis.google.com/chart
   ?chf=c,lg,0,EFEFEF,0,BBBBBB,1
   &chxl=1:|User1|User2|User3|User4|User5
   &chxt=x,y
   &chbh=a
   &chs=800x360
   &cht=bhs
   &chco=80C65A,0F9E00,2C58C6,FF3030
   &chd=e:MzHCHCMzGZ,DMJmHCGZTM,GZMzDMGZFH,FHHrPWI9Fw
   &chdl=opens|clicks|forwards|shares
   &chtt=I'm+in+ur+response%2C+analysing+your+d00ds
   &chts=676767,19.5 -->